[Unit]
Description=log2syslog, a generic log feeder

[Service]
Type=simple
ExecStart=/usr/local/sbin/log2syslog -f /etc/log2syslog.conf
Restart=always

[Install]
WantedBy=multi-user.target
